<div class ="container">
 <% if user_signed_in? %>
  <div class="row">
   <div class="col-xs-3">
   	<h2>会員情報</h2>
   	 <table class="table">
   	 	
      <tr>
      	<th>名前</th>
      	<th></th>
      </tr>
      <tr>
      	<th>自己紹介</th>
      	<th></th>
      </tr>
     </table>
     <div class="row">
      <%= link_to "レシピを書く" ,  new_recipe_path %>
     </div>
<% end %>