<div class ="container">
 <div class="col-xs-10">
  <div class="main-image">
   <div class="main-text">
    <p>
      自宅で料理を楽しもう！<br>
      このサイトは料理を手軽に検索できるサイトです。 <br>
      会員でない方も閲覧はできますが、<br>
      登録するとレシピ投稿やブックマーク機能を使え
      より便利に本サイトを利用することができます。<br>
    </p>
   </div>
  </div>
  <div class="row">
   <div class="col-xs-3">
  <%= render 'homes/homeinfo' %>
   </div>
 </div>

    </div>
   </div>
 </div>
