// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-text {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 600px;
  	width: 600px;
  	margin: auto;
}

.main-image {
	margin-top: 50px;
	padding-top: 200px;
	height: 400px;
	background-image: url(main-image.jpg);
	background-size: cover;
	text-align: center;
}